{% extends "frame.html" %}
{% block content %}
<script>
  let dropArea = document.getElementById('drop-area')
  dropArea.addEventListener('dragenter', handlerFunction, false)
  dropArea.addEventListener('dragleave', handlerFunction, false)
  dropArea.addEventListener('dragover', handlerFunction, false)
  dropArea.addEventListener('drop', handlerFunction, false)

  var handleFiles = function(event) {
     console.log(event);
  }


</script>

<div style="margin: auto">
    <form action="render_video" method="POST">
        <div id="drop-area">
            <input class="btn btn-primary" type="file" id="videoElem" name="video_path" multiple accept="video/*"
                   onchange="handleFiles(this.files)">
            <label class="button" for="videoElem">Select base video</label>
        </div>


        <input class="btn btn-primary" type="file" id="imageElem" name="image_path" multiple accept="image/*"
               onchange="handleFiles(this.files)">
        <label class="button" for="imageElem">Select overlay picture</label>

<!--        <input type="text" name="hidden_path_to_image" value={{hidden_path_to_image}}>-->

        <br/>
        <br/>
        Caption: <input type="text" name="caption" value="Hello Junction!">
        <br/>
        <br/>
        <input class="btn btn-success" type="submit" value="Generate Video Variants!">
    </form>

    <br/>
    <br/>
    <br/>
    <a class="btn btn-primary" href="/generated_content">Check out generated videos library!</a>
</div>
{% endblock %}