<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <meta charset="UTF-8">
    <title>Content Variation Junction</title>
</head>
<body style="background-color: #333333">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
     {% for video in videos %}
    <div class="grid-item">
        <video width="480" height="850" autoplay="true" muted controls>
            <source src={{url_for('static', filename='video/')}}{{video}} type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
  {% endfor %}
</div>


</body>
</html>
