<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <meta charset="UTF-8">
    <title>Content Variation Junction</title>
    {{ turbo() }}
</head>
<body style="background-color: #333333">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
     {% for video in videos %}
    <div class="grid-item">
        {{video}}
        <video width="320" height="240" autoplay="true" muted>
            <source src={{url_for('static', filename='video/')}}{{video}} type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
  {% endfor %}

<!--    <div class="grid-item grid-item&#45;&#45;width2">-->
<!--        <video width="320" height="240" autoplay="true" muted >-->
<!--            <source src="resources/video/3_trim.mov" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <video width="320" height="240" autoplay="true" muted>-->
<!--            <source src="resources/video/3_trim.mov" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <video width="320" height="240" autoplay="true" muted >-->
<!--            <source src="resources/video/3_trim.mov" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item grid-item&#45;&#45;width2">-->
<!--        <video width="320" height="240" autoplay="true" muted >-->
<!--            <source src="/resources/video/out.mp4" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <video width="320" height="240" autoplay="true" muted>-->
<!--            <source src="/resources/video/2.mov" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <video width="320" height="240" autoplay="true" muted >-->
<!--            <source src="/resources/video/3_trim.mov" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item grid-item&#45;&#45;width2">-->
<!--        <video width="320" height="240" autoplay="true" muted >-->
<!--            <source src="/resources/video/out.mp4" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
<!--    <div class="grid-item">-->
<!--        <video width="320" height="240" autoplay="true" muted>-->
<!--            <source src="/resources/video/out.mp4" type="/resources/video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    </div>-->
</div>


</body>
</html>
